<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamizo | Contact Us</title>
  <link rel="stylesheet" href="\static/css/style.css">
  <link rel="stylesheet" href="\static/css/contactus.css">
</head>

<body>
  
  <div class="cointainer">
    <div id="menu">
      <a href="#">Home</a>
      <a href="contact.html">Contact Us</a>

      <a href="#">About</a>
      <a href="upload.html">Upload</a>
      <div class="menu-footer">
        <a href="#">Privacy Policy</a>

        <a href="#">Terms and Conditions</a>
    </div>
  </div>
 
  <!-- Menu Button -->
  <div class="menu-btn">
    <div class="line"></div>
    <div class="line center-line"></div>
    <div class="line"></div>
  </div>
  <div class="bg-grad"><img src="../static/asset/pexels-moose-photos-1037992.jpg" alt="" class="letter"></div>
      <div class="contact-form">
        <form id="contactus" name="submit-to-google-sheet">
          <h1>Drop us a line</h1>
          <!-- <label for="name">Name:</label> -->
          <input type="text" placeholder="Enter your Name" name="name" id="name" required>
          <!-- <label for="email">Email:</label> -->
          <input type="text" placeholder="Enter your Email" name="email" id="email" required>
          <!-- <label for="message">Message: </label> -->
          <textarea rows="5" cols="40" placeholder="Drop in your message" name="message" id="message"
            style="margin-bottom: 6px;" required></textarea>
          <input type="hidden" id="date" name="date" value="javascript:document.write(Date()+'.')" />
          <button type="submit" id="contact-form-submit-btn">Send</button>
        </form>
      </div>
      
  </div>


  <!-- integrated JS -->


  <script src="\static/js/app.js"></script>
  <script>
    document.getElementById('date').value = Date();

    const scriptURL = 'https://script.google.com/macros/s/AKfycbyiyu0ym4ztP7hiWf00sehcwSvJGPp9ZoR8q7cJ2bRz52xmCLFVfbZdqvU4eY5gbzmd7g/exec'
    const form = document.forms['submit-to-google-sheet']

    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form) })
        .then(response => alert('Form submitted Succesfully'),
      ).catch(error => console.error('Error!', error.message))
      document.getElementById('name').value = '';
      document.getElementById('email').value = '';
      document.getElementById('message').value = '';
    })

  </script>
</body>

</html>