.disclaimer{
    margin-top: 3rem;
    width: 75%;
    background-color: white;
    border-radius: 8px;
    padding: 7px 0;
    p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    span{
        color: red;
    } 
    }
}