#menu {
	display: grid;
	place-items: center;
	height: 100vh;
	width: 100%;
	padding: 100px 0px;
	position: absolute;
	z-index: 1;
	background-color: #444444;
	visibility: hidden;
	transition: ease-in 300ms all;
	transform: scale(0.5);
	overflow: hidden;
	>a {
		text-decoration: none;
		color: #ffffff;
		font-size: 1.8rem;
		transition: ease-in 200ms all;
		visibility: hidden;
		display: block;
		width: 100%;
		text-align: center;
		&:hover {
			color: #3c896d;
			transform: scale(1.1);
			background-color: #dfffff;
		}
	}
	.menu-footer {
		position: absolute;
		bottom: 1em;
		a {
			color: white;
			font-size: 0.75rem;
		}
	}
}
#menu.menu-open {
	visibility: visible;
	transform: scale(1);
	>a {
		visibility: visible;
	}
}
.hamburger.menu-open {
	z-index: 3;
	background-color: #dfffff;
}
.menu-btn {
	position: absolute;
	width: 44px;
	height: 30px;
	left: 16px;
	top: 22px;
	background: radial-gradient( 91.67% 136.89% at 50% 50%, #1c00ca 0%, #0d0060 100% );
	-webkit-box-shadow: -10px -7px 26px 10px #869aff;
	box-shadow: -10px -7px 26px 10px #869aff;
	border-radius: 7px;
	padding: 8px 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	.line {
		background-color: white;
		width: 31px;
		height: 2px;
	}
	.center-line {
		width: 20px;
	}
}