:root {
  --ps-g-blue: linear-gradient(
    242.7deg,
    #00a0ff 7.36%,
    #00a1ff 8.12%,
    #00beff 35.54%,
    #00d2ff 62.85%,
    #00dfff 89.73%,
    #00e3ff 115.75%
  );
  --ps-g-green: linear-gradient(
    142.39deg,
    #32a071 -38.78%,
    #2da771 -33.87%,
    #15cf74 -4.91%,
    #06e775 18.21%,
    #00f076 32.37%
  );
  --ps-g-red: linear-gradient(217.62deg, #ff3a44 16.07%, #c31162 175.33%);
  --ps-g-yellow: linear-gradient(
    270deg,
    #ffe000 -7.59%,
    #ffbd00 89.79%,
    #ffa500 176.94%,
    #ff9c00 230.52%
  );
  --ps-c-blue: #3bccff;
  --ps-c-green: #48ff48;
  --ps-c-red: #ff3333;
  --ps-c-yellow: #ffd400;
}

body {
  min-height: 100vh;
}
.cointainer {
  height: auto;
}
.bg-grad {
  height: 100%;
  background: radial-gradient(
      68.72% 56.75% at 95.89% 2.11%,
      rgba(247, 247, 253, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #051638;
}
.main-bg {
  visibility: hidden;
}
.wave {
  visibility: hidden;
}

.content-about {
  margin-top: 15vh;
  z-index: 2;
  color: white;
  padding-inline: 2em;
}
.content-about h1{
  text-align: left;
  font-size: 3rem;
}
.content-about .about-line{
  height: 4px;
  border-radius: 20px;
  width: 30%;
  background-color: var(--ps-c-red);
}
.content-about p{
  margin-block: 3em;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.8;
  text-align: left;
}

.made-with-love {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 15px;
  text-align: center;
  font-size: 0.8rem;
  z-index: 9999;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: var(--ps-c-red);
  font-size: 1.5rem;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}