#contactus{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
body{
    background-color: white;
}
.contactus-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#contactus p{
    font-size: 2rem;
    margin: 1rem;
}

#contactus input,textarea{
    margin-bottom: 2em;
    
    padding-bottom: 0.5em;
    width: 20em;
    border-radius: 6px;
    padding: 6px;
    border: 2px solid black;
}
#contactus label{
    margin: 6px;
    font-size: 1.1rem;
}
#contact-form-submit-btn{
    width: 40%; 
    margin: auto;
    padding: 4px;
    background-color: rgb(53, 124, 255);
    color: white;
    font-size: 1.1rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 12px;
}