.bg-grad{
    height: 30vh;
    position: relative;
    display: grid;
    place-items: center;
    /* background: white; */
}
/* .menu-btn{
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    border-left: 3px solid white ;
} */
.cointainer{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.contact-form{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    padding: 1rem 0;
}
.letter{
    width: 140%;
    filter: hue-rotate(120deg);
}
.main{
    display:grid;
    place-items: center;
    height: 100%;
}
/* #contactus{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
} */
#contactus{
    padding: 0 3em;
}
.contact-form h1{
    font-size: 2.5rem;
}
#contactus input{
    padding: 0.2em;
    border: none;
    border-bottom: 1px solid rgb(165, 165, 165);
}
#contactus > *{
    margin-top: 1em;
}

#contactus textarea{
    padding: 0.2em;
    /* border-radius: 5px; */
    margin-top: 2em;
    border: 1px solid rgb(202, 202, 202);
    width: 100%;
    resize: none;
}
#contactus textarea::placeholder{
    color: rgb(202, 202, 202);
}
#contactus label{
    font-size: 1rem;
    margin-top: 1em;
}

#contactus button{
    width: 40%;
    padding: 0.4em 0;
    border-radius: 50px;
    border: none;
    background: #4854ff;
    color: white;
}