@import "menu";
@import "mediaQuery";
@import "report";
@import "shareMenu";
@import "categories";

html {
	font-size: 100%;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #a1b2ff;
}
.cointainer {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	width: 414px;
	overflow: hidden;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.bg-grad {
	position: absolute;
	width: 414px;
	height: 635px;
	left: 0px;
	top: 0px;
	z-index: -1;
	background: -webkit-gradient( linear, left top, left bottom, from(#002dce), color-stop(35.21%, #591efa), color-stop(93.69%, rgba(196, 196, 196, 0)) );
	background: linear-gradient( 180deg, #002dce 0%, #591efa 35.21%, rgba(196, 196, 196, 0) 93.69% );
}
p {
	text-align: center;
}
code {
	background-color: #e7e7e7;
	padding: 2px 4px;
	border-radius: 2px;
}