@import "menu";
@import "card";
@import "logo";
@import 'categories';
@import 'disclaimer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(161, 178, 255);
}
.cointainer {
    height: fit-content;
    width: 414px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bg-grad {
    position: absolute;
    width: 414px;
    height: 635px;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: linear-gradient(180deg, #002dce 0%, #591efa 35.21%, rgba(196, 196, 196, 0) 93.69%);
}
@media only screen and (max-width: 420px) {
    .cointainer {
        width: 100%;
    }
}
