:root {
  --blue: #226dc9;
}

.form-backdrop {
  top:0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.548);
  height: 100vh;
  position: fixed;
  z-index: 100;
  transition: all 300ms ease-in;
}

#menu .menu-content .top-bar {
  height: 10%;
}

/* Menu change when menu open */
#menu .menu-btn {
  z-index:10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu .menu-btn .line {
  background-color: #888;
  width: 20px;
  height: 2px;
}
#menu .menu-btn .line:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
}
#menu .menu-btn .line:nth-child(2) {
  transform: rotate(-45deg);
}
/* :end */

#menu {
  height: 100vh;
  position: relative;
}

#menu .menu-content {
  z-index:500;
  width: 70%;
  background-color: white;
  height: 100%;
  position: relative;
}
#menu .menu-content ul {
  list-style: none;
  display: grid;
  place-items: center;
  width: 100%;
}
#menu .menu-content ul li {
  border-bottom: 1px solid rgb(221, 221, 221);
  width: 100%;
  padding: 1em 2em;
  user-select: none;
}
#menu .menu-content ul a {
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-size: 1.5rem;
}
#menu .menu-content ul li.selected a {
  color: var(--blue);
  font-weight: bold;
  font-size: 1.5rem;
}
#menu .menu-content .extra-links a.extra-selected{
  font-weight: 600;
  color: var(--dark);
}
#menu .menu-content .extra-links {
  position: absolute;
  bottom: 1.5em;
  left: 0px;
  width: 100%;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#menu .menu-content .extra-links a {
  color: #888;
  text-align: center;
}

#menu .menu-content .extra-links .google_signin #my-signin2{
  margin-bottom: 2rem;
}