<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamizo | Contact Us</title>
    <link rel="stylesheet" href="\static/css/style.css">
    <link rel="stylesheet" href="\static/css/contactus.css">
</head>
<body>
    <div class="cointainer">
        <div id="menu">
          <a href="index.html">Home</a>
          <a href="contact.html">Contact Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms and Conditions</a>
          <a href="#">About</a>
          <a href="upload.html">Upload</a>
        </div>
        <div class="nav">
          <div id="hamburger" class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <h2 class="title">Gamizo</h2>
          <span class="search-ico">
            <img
              src="\static/asset/ico/search_black_24dp.svg"
              alt="search-ico"
              class="search-ico"
            />
          </span>
        </div>
        <!-- drop us a line
        name
        email
        message -->
        <div class="contactus-form">
            <form id="contactus" action="#">
                <p>Drop us a line</p>
                <input type="text" placeholder="Enter your Name" name="name" required>
                <input type="text" placeholder="Enter your Email" name="email" required>
               <textarea rows="10" cols="40" placeholder="Drop in your message"  name="message" style="margin-bottom: 6px;" required>

               </textarea>
                <input type="button" id="contact-form-submit-btn" value="Submit">
            </form>
        </div>
    </div>
    <script src="\static/js/app.js"></script>
</body>
</html>