* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --black: #172121;
  --light-black: #1721215b;
  --wine: #a71d31;
  --white: #f1f0cc;
  --green: #3c896d;
}
body {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.cointainer {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

}
.nav {
  width: 100%;
  height: 6vh;
  padding: 0 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}
.search-ico {
  max-width: 25px;
}
.title {
  font-family: "ZCOOL KuaiLe", cursive;
  cursor: pointer;
  user-select: none;
  color: var(--wine);
}
.search-ico {
  color: var(--green);
}

/* Menu Button */

.hamburger {
  height: 25px;
  width: 30px;
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-radius: 5px;
}



.line {
  width: 100%;
  height: 2px;
  margin: auto 0;
  background-color: var(--green);
}

.hamburger:hover{
  background-color: var(--white);
}
/* actual menu */
#menu{
  
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  padding: 100px 0px;
  position: absolute;
  z-index: 1;
  background-color:#444444;
  visibility: hidden;
  transition: ease-in 300ms all;
  transform: scale(2);
  overflow: hidden;

}
#menu a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
  transition: ease-in 200ms all;
  visibility: hidden;
  display: block;
  width: 100%;
  text-align: center;
}
#menu a:hover{
  color: #3c896d;
  transform: scale(1.1);
  background-color: #dfffff;
}
/* When clicked */
#menu.menu-open{
  visibility: visible;
  transform: scale(1);
}
#menu.menu-open a{
  visibility: visible;
}
.hamburger.menu-open{
  z-index: 3;
  background-color: #dfffff;
}
/* Menu Button Ends */
.card {
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
  max-height: 80%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
}

.title-bar {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}

.display-picture {
  border-radius: 50%;
  max-width: 10%;
  margin: 0px 3%;
}

.game-name {
  font-size: 1.2rem;
  font-weight: 400;
}

.dot {
  width: 4px;
  height: 4px;
  background: var(--black);
  border-radius: 50%;
  margin: auto 0;
}

.more {
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  position: absolute;
  right: 0;
}

.game-video {
  height: 375px;
  width: 90%;
  background: var(--white);
}

.bottom-bar {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.btn-bar {
  height: 30px;
  width: 100%;
  margin: 0;
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  position: relative;
}

.btn-bar:hover {
  background: #0c6b48;
}

.btn-bar:active {
  background: #0c6b48;
}
#btn {
  background: inherit;
  border: none;
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
}

.arrow-ico {
  max-width: 18px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
  pointer-events: none;
}

@media only screen and (min-width: 430px) {
  .cointainer {
    max-width: 412px;
  }
}
